body {
  font-family: 'Lato', sans-serif;
  color: #222;
  margin: auto;
  background-color: #F5F5F5;
  display: flex;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3rem;
  vertical-align: middle;
  border-bottom: .01rem solid #000;
}

.title {
  padding: .8rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.help-button {
  position: absolute;
  right: .5rem;
  margin-top: 3.1rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 700;
}

.main-container {
  max-width: 80%;
  margin: 0 auto;
  flex-grow: 1;
  text-align: center;
  position: relative;
}

#top-bar {
  margin: 5rem 0 3.5rem 0;
  text-align: left;
  position: relative;
}

#top-bar div:not(.back-button) {
  display: inline-block;
  border: .01rem solid #000;
  margin-top: 1rem;
}

.back-button {
  cursor: pointer;
  position: absolute;
  top: -.5rem;
}

.page-title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 10rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.add-button {
  width: 4rem;
  text-align: center;
  padding: .5rem 0;
  float: right;
  cursor: pointer;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card,
.goal-amount,
.current-amount,
.needed-amount,
.minus-button,
.plus-button {
  display: inline-block;
}

.minus-button,
.plus-button {
  cursor: pointer;
}

.minus-button {
  color: red;
}

.plus-button {
  color: green;
}

.minus-button:hover {
  color: darkred;
}

.plus-button:hover {
  color: darkgreen;
}

.card {
  border: .01rem solid #000;
  width: 14.5rem;
  height: 7rem;
  padding: .5rem;
  position: relative;
  margin-bottom: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.game-card {
  cursor: pointer;
}

.game-card:hover {
  background-color: #eee;
}

.game-card:active {
  background-color: #ddd;
}

.card-button {
  position: absolute;
  right: .5rem;
  border: .01rem solid #000;
  padding: 0.2rem .4rem;
  cursor: pointer;
}

.farmhand-button {
  cursor: pointer;
}

.farmhand-button:hover {
  background-color: #ccc;
}

.farmhand-button:active {
  background-color: #bbb;
}

.card-edit-button {
  top: .3rem;
}

.card-delete-button {
  bottom: .5rem;
}

.goal-amount {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1rem;
}

.game-body {
  text-align: left;
  margin-top: 1rem;
  margin-left: .25rem;
  line-height: 1.75;
}

.card-title {
  font-weight: 700;
  padding-left: .25rem;
  text-align: left;
}

.footer {
  position: absolute;
  padding-top: .25rem;
  padding-bottom: .25rem;
  width: 100%;
  align-self: flex-end;
  text-align: center;
  font-size: .75rem;
  border-top: .01rem solid #000;
  background-color: inherit;
  margin-top: 5rem;
}

.modal {
  background-color: #fff;
  position: absolute;
  padding: 2rem;
  border: .01rem solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.dismiss-modal {
  cursor: pointer;
  position: absolute;
}

#modal-overlay {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
}

#modal-content {
  text-align: center;
  width: 20rem;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.modal-body {
  padding: 0 1rem;
}

.modal-body.form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.modal-body.form input {
  background-color: #eee;
  border: .05rem solid #aaa;
  font-size: 1.1rem;
  padding: .1rem .2rem;
}

.modal-body ul {
  list-style-type: none;
  line-height: 1.6rem;
  text-align: left;
}

.modal-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.modal-button {
  display: inline-block;
  border: .01rem solid #000;
  padding: .5rem 1.25rem;
}
